body {
    color: #ffffff;
    font-family: 'Helvetica, Arial, san-serif';
    font-size: 100%;
}


.text-left {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.logout_btn {
    border: none;
    outline: none;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-left: 1100px;
    transition: 0.5s;
    box-shadow: rgb(181, 180, 180) 0px 6px 0px;
}

.logout_btn:hover {
    background-color: #B2BABB;
}

table, td, tr, th {
    text-align: center;
    font-size: 15px;
    padding: 5px;
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
}

th {
    background-color: rgb(3, 63, 116);
}

tr:hover {
    background-color: rgb(107, 170, 222);
}

table {
    margin: 10px auto;
    max-width: 1000px;
    width: 90%;
    height: 100px;
    background-color: #497caf;
}


.mb-3 {
    padding: 5px;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    color: white;
}

.delete_btn {
    background-color: rgb(201, 50, 50);
    cursor: pointer;
    padding: 3px 7px;
    border-radius: 3px;
    margin-left: 15px;
}

.edit_btn {
    background-color: dodgerblue;
    cursor: pointer;
    padding: 3px 7px;
    border-radius: 3px;
}

.btn-success {
    background-color: green;
    cursor: pointer;
    padding: 3px 7px;
    border-radius: 3px;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 300px; /* width when un-collapsed */
    position: fixed;
    top: 0;
    left: 0;
    opacity: 90%;
    background-color: #3c85ba;
    padding-top: 20px;
    overflow-x: hidden;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 60px;
}


.sidebar_button1,.sidebar_button2,.sidebar_button3{
    width: 250px;
    margin-top: 60px;
    margin-left: 20px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: rgb(181, 180, 180) 0px 6px 0px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.sidebar_button2, .sidebar_button3{
    margin-top: 25px;
}

.smallsidebar_button1, .smallsidebar_button2, .smallsidebar_button3{
    width: 40px;
    margin-top: 60px;
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: rgb(181, 180, 180) 0px 6px 0px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.smallsidebar_button2, .smallsidebar_button3{
    margin-top: 25px;
}

/* Button to toggle sidebar */
.toggle-btn {
    position: absolute;
    top: 10px;
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.main-content {
    margin-left: 400px;
    transition: margin-left 0.3s; /* Animation for content shift */
    padding: 20px;
}

.main-content.collapsed {
    margin-left: 60px; /* Margin for the main content when sidebar is collapsed */
}
